
<nav ng-include="'views/templates/nav.html'"></nav>

<section class="flex-pages-container">
  <div class="pages-header-container">
    <h1> New Inspection </h1>
  </div>
  <table>
    <tr>
      <td><h4> Date: </h4></td>
      <td><input type="date"></td>
    </tr>
    <tr>
      <td><h4> Inspector Name: </h4></td>
      <td>
        <select ng-model="nic.newInspection.employeeName" style="text-transform: capitalize">
          <option ng-value="employeeName.lastname" ng-repeat="employeeName in nic.allEmployeeNames.list"> {{employeeName.lastname}}, {{employeeName.firstname}} </option>
        </select>
      </td>
    </tr>
    <tr>
      <!-- needs to be refactored for company site locations -->
      <td><h4> Inspection Site Location: </h4></td>
      <td>
        <select ng-model="nic.newInspection.inspectionSite" style="text-transform: capitalize">
          <option ng-value="company.companyname" ng-repeat="company in nic.allCompanies.list"> {{company.companyname}} - {{company.city}}, {{company.state}} </option>
        </select>
      </td>
    </tr>
  </table>
  <div class="pages-button-container">
    <span type="button"><img src="./assets/images/icons/next-button.ico"></span>
  </div>
</section>
