
<nav ng-include="'views/templates/nav.html'"></nav>

<section>
  <div>
    <div>
      <label> Emergeny Communication Equipment</label>
        <h5> Phone Set </h5>
        <h5> Phone Jacks </h5>
        <h5> Off-Hook Indicator </h5>
        <h5> Amplifier(s) </h5>
        <h5> Tone Generator(s) </h5>
        <h5> Call-ins Signal </h5>
        <h5> System Performance </h5>
    </div>
    <div>
      <label> Visible </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Functional </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Comments </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
  </div>


  <div>
    <div>
      <h1> Interferance Equipment </h1>
        <div>
          <label> (Specify) </label>
            <input type="text">
        </div>
        <div>
          <label> (Specify) </label>
            <input type="text">
        </div>
        <div>
          <label> (Specify) </label>
            <input type="text">
        </div>
    </div>
    <div>
      <label> Visual </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Device Operations </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Simulated Operations </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
  </div>
  <div>
    <div>
      <h5> Special Procedures: </h5>
        <textarea name="name" rows="8" cols="40"></textarea>
    </div>
    <div>
      <h5> Comments: </h5>
        <textarea name="name" rows="8" cols="40"></textarea>
    </div>
  </div>

  <div>
    <div>
      <label> Supervising Station Monitoring </label>
        <h5> Alarm Signal </h5>
        <h5> Alarm Restoration </h5>
        <h5> Trouble Signal </h5>
        <h5> Supervisiory Signal </h5>
        <h5> Supervisiory Restoration </h5>
    </div>
    <div>
      <label> Yes </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> No </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Time </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
    <div>
      <label> Comments </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
  </div>

<!-- maybe a new view for below -->
  <div>
    <div>
      <label> Notification That Testing Is Complete </label>
        <h5> Building Managment </h5>
        <h5> Monitoring Agency </h5>
        <h5> Building Occupants </h5>
        <h5> Other (specify) </h5>
    </div>
    <div>
      <label> Yes </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> No </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Who </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
    <div>
      <label> Time </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>

    <div>
      <h5> The following did not operate correctly: </h5>
        <textarea name="name" rows="8" cols="40"></textarea>
    </div>

    <div>
      <h5> System restored to normal operation: </h5>
      <div>
        <label> Date: </label>
          <input type="text">
      </div>
      <div>
        <label> Time: </label>
          <input type="text">
      </div>
    </div>

    <div>
      <h5> This Testing Was Performed In Accordance With Application NFPA Standards </h5>
      <div>
        <label> Name Of Inspector </label>
          <input type="text">
      </div>
      <div>
        <label> Date </label>
          <input type="text">
      </div>
      <div>
        <label> Time </label>
          <input type="text">
      </div>
      <div>
        <label> Signature </label>
          <input type="text">
      </div>
      <div>
        <label> Name Of Owner or Representitive </label>
          <input type="text">
      </div>
      <div>
        <label> Date </label>
          <input type="text">
      </div>
      <div>
        <label> Time </label>
          <input type="text">
      </div>
      <div>
        <label> Signature </label>
          <input type="text">
      </div>
    </div>

  </div>
</section>
