
<nav ng-include="'views/templates/nav.html'"></nav>
<aside ng-include="'views/templates/inspection_forms_nav.html'"></aside>

<section>
  <h1> Systems tests and Inspections </h1>
    <div>
      <h3> Type </h3>
        <h5> Control Unit </h5>
        <h5> Interface Eq. </h5>
        <h5> Lamps / LED </h5>
        <h5> Fuses </h5>
        <h5> Primary Power Supply </h5>
        <h5> Trouble Signals </h5>
        <h5> Disconnect Switches </h5>
        <h5> Ground Fault Monitoring </h5>
    </div>
    <div>
      <label> Yes </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> No </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Comments </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>

    <h3> Secoundary Power </h3>
    <div>
      <label> Type </label>
        <h5> Battary Condition </h5>
        <h5> Load Voltage </h5>
        <h5> Discharge Test </h5>
        <h5> Charger Test </h5>
        <h5> Specify Gravity </h5>
    </div>
    <div>
      <label> Visible </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Functional </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Comments </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>

    <div>
      <label> Notification Appliances </label>
        <h5> Audible </h5>
        <h5> Visual </h5>
        <h5> Speakers </h5>
        <h5> Voice Clarity </h5>
    </div>
    <div>
      <label> Visible </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Functional </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Comments </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
</section>
