
<nav ng-include="'views/templates/nav.html'"></nav>
<aside ng-include="'views/templates/inspection_forms_nav.html'"></aside>

  <section class="flex-pages-container">
    <div class="pages-header-container">
      <h1> Supervisory Signal-Initiating Devices And Circuit Information </h1>
    </div>
    <table>
      <tr>
        <td> Item Checklist: </td>
        <td> Quantity: </td>
        <td> Circuit Style: </td>
      </tr>
      <tr>
        <td><h4> Building Temp </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityBuildingTemp"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleBuildingTemp"></td>
      </tr>
      <tr>
        <td><h4> Site Water Temp </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityWaterTemp"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleWaterTemp"></td>
      </tr>
      <tr>
        <td><h4> Site Water Level </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityWaterLevel"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleWaterLevel"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Power </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityPumpPower"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStylePumpPower"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Running </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityPumpRunning"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStylePumpRunning"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Auto Position </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityPumpAutoPosition"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStylePumpAutoPosition"></td>
      </tr>
      <tr>
        <td><h4> Pump Controller Trouble </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityControllerTrouble"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleControllerTrouble"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Running </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityFirePumpRunning"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleFirePumpRunning"></td>
      </tr>
      <tr>
        <td><h4> Generator In Running Position </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityGenRunningPosition"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleGenRunningPosition"></td>
      </tr>
      <tr>
        <td><h4> Generator Controller Trouble </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityGenControllerTrouble"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleGenControllerTrouble"></td>
      </tr>
      <tr>
        <td><h4> Switch Transfer </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantitySwitchTransfer"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleSwitchTransfer"></td>
      </tr>
      <tr>
        <td><h4> Generator Engine Running </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityEngineRunning"></td>
        <td><input type="text" ng-model="three.inspectionForm.circuitStyleEngineRunning"></td>
      </tr>
      <tr>
        <td><h4> Other (Specify) </h4></td>
        <td><input type="text" ng-model="three.inspectionForm.quantityOtherInit"></td>
        <td><textarea rows="8" cols="40" ng-model="three.inspectionForm.circuitStyleOtherInit"> </textarea></td>
      </tr>
    </table>
    <div class="pages-button-container">
      <button type="button" name="button" ng-click="three.submitPageTwo(three.inspectionFormThree)"> Next => </button>
    </div>
  </section>
