
<nav ng-include="'views/templates/nav.html'"></nav>
<aside ng-include="'views/templates/inspection_forms_nav.html'"></aside>

<section class="flex-pages-container">
  <div class="pages-header-container">
    <h1> Systems tests and Inspections </h1>
  </div>
  <table class="pages-table-container">
    <tr>
      <td><h3> Type </h3></td>
      <td><h3> Inspected </h3></td>
      <td><h3> Comments </h3></td>
    </tr>
    <tr>
      <td><h4> Control Unit </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Interface Eq. </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Lamps / LED </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Fuses </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Primary Power Supply </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Trouble Signals </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Disconnect Switches </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Ground Fault Monitoring </h4></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
  </table>

  <div class="pages-subHeader-container">
    <h2> Secoundary Power </h2>
  </div>
  <table class="pages-table-container">
    <tr>
      <td><h3> Type </h3></td>
      <td><h3> Visible </h3></td>
      <td><h3> Functional </h3></td>
      <td><h3> Comments </h3></td>
    </tr>
    <tr>
      <td><h4> Battary Condition </h4></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Load Voltage </h4></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Discharge Test </h4></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Charger Test </h4></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
    <tr>
      <td><h4> Specify Gravity </h4></td>
      <td><input type="checkbox"></td>
      <td><input type="checkbox"></td>
      <td><textarea rows="2" cols="40"></textarea></td>
    </tr>
  </table>
  <div class="pages-button-container">
    <span type="button"><img src="./assets/images/icons/next-button.ico"></span>
  </div>
</section>
