

<div class="rows">
  <div class="col-md-12">
    <div class="col-md-3">
      <h5> column one </h5>
        <div>
          <a href="#"> click here </a>
        </div>
    </div>
    <div class="col-md-3">
      <h5> column two </h5>
        <div>
          <a href="#"> click here </a>
        </div>
    </div>
    <div class="col-md-3">
      <h5> column three </h5>
        <div>
          <a href="#"> click here </a>
        </div>
    </div>
    <div class="col-md-3">
      <h5> column four </h5>
        <div>
          <a href="#"> click here </a>
        </div>
    </div>
  </div>
</div>
