
<nav ng-include="'views/templates/nav.html'"></nav>
<aside ng-include="'views/templates/inspection_forms_nav.html'"></aside>

<section>
  <h1> Prior To Any Testing </h1>
    <div>
      <h3> Notifications Are Made </h3>
        <h5> Monitoring Entity </h5>
        <h5> Building Occupants </h5>
        <h5> Building Managment </h5>
        <h5> Other (specify)</h5>
        <h5> AHJ (notified) of Any Impairments </h5>
    </div>
    <div>
      <label> Yes </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> No </label>
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
        <input type="checkbox">
    </div>
    <div>
      <label> Who </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
    <div>
      <label> Time </label>
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
        <input type="text">
    </div>
</section>
