
<section>
  <div class="col-md-12 inspectionLogMainHeadingDivs">
    <label> Alarm Notification Appliances and Circuit Information </label>
  </div>
  <div class="col-md-4">
    <label> Item Checklist: </label> </br>
      <label> Bells </label> </br>
      <label> Horns </label> </br>
      <label> Chimes </label> </br>
      <label> Strobes </label> </br>
      <label> Speakers </label> </br>
      <label> Other (specify) </label> </br>
  </div>
  <div class="col-md-4">
    <label> Quantity: </label> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text">
  </div>
  <div class="col-md-4">
    <label> Circuit Style: </label> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <input type="text"> </br>
      <textarea rows="8" cols="40"> </textarea>
  </div>

  <!-- battery type -->
  <div>
    <label> Battery Type: </label> </br>
    <select ng-model="aic.inspectionForm.batType">
      <option value="dry cell"> Dry Cell </option>
      <option value="nickel calmium"> Nickel-Cadmium </option>
      <option value=" sealed lead acid"> Sealed Lead-Acid </option>
      <option value="lead acid"> Lead-Acid </option>
      <option value="other"> Other (Specify) </option>
    </select>
  </div>
</section>
