
<nav ng-include="'views/templates/nav.html'"></nav>
<aside ng-include="'views/templates/inspection_forms_nav.html'"></aside>

  <section class="flex-pages-container">
    <div class="pages-header-container">
      <h1> Supervisory Signal-Initiating Devices And Circuit Information </h1>
    </div>
    <table class="pages-table-container">
      <tr>
        <td><h3> Item Checklist </h3></td>
        <td><h3> Quantity </h3></td>
        <td><h3> Circuit Style </h3></td>
      </tr>
      <tr>
        <td><h4> Building Temp </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityBuildingTemp"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleBuildingTemp"></td>
      </tr>
      <tr>
        <td><h4> Site Water Temp </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityWaterTemp"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleWaterTemp"></td>
      </tr>
      <tr>
        <td><h4> Site Water Level </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityWaterLevel"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleWaterLevel"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Power </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityPumpPower"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStylePumpPower"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Running </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityPumpRunning"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStylePumpRunning"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Auto Position </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityPumpAutoPosition"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStylePumpAutoPosition"></td>
      </tr>
      <tr>
        <td><h4> Pump Controller Trouble </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityControllerTrouble"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleControllerTrouble"></td>
      </tr>
      <tr>
        <td><h4> Fire Pump Running </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityFirePumpRunning"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleFirePumpRunning"></td>
      </tr>
      <tr>
        <td><h4> Generator In Running Position </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityGenRunningPosition"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleGenRunningPosition"></td>
      </tr>
      <tr>
        <td><h4> Generator Controller Trouble </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityGenControllerTrouble"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleGenControllerTrouble"></td>
      </tr>
      <tr>
        <td><h4> Switch Transfer </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantitySwitchTransfer"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleSwitchTransfer"></td>
      </tr>
      <tr>
        <td><h4> Generator Engine Running </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityEngineRunning"></td>
        <td><input type="text" class="text-input" ng-model="three.inspectionFormThree.circuitStyleEngineRunning"></td>
      </tr>
      <tr>
        <td><h4> Other (Specify) </h4></td>
        <td><input type="number" class="number-input" ng-model="three.inspectionFormThree.quantityOtherInit"></td>
        <td><textarea rows="2" cols="40" ng-model="three.inspectionFormThree.circuitStyleOtherInit"> </textarea></td>
      </tr>
    </table>
    <div class="pages-button-container">
      <span ng-click="three.nextPage(three.inspectionFormThree)"><img src="./assets/images/icons/next-button.ico"></span>
    </div>
  </section>
