
<nav ng-include="'views/templates/nav.html'"></nav>
<aside ng-include="'views/templates/inspection_forms_nav.html'"></aside>

  <section class="flex-pages-container">
    <div class="pages-header-container">
      <h1> Alarm Notification Appliances And Circuit Information </h1>
    </div>
      <table class="pages-table-container">
        <tr>
          <td><h3> Checklist </h3></td>
          <td><h3> Quantity </h3></td>
          <td><h3> Circuit Style </h3></td>
        </tr>
        <tr>
          <td><h4> Bells </h4></td>
          <td><input type="number" class="number-input" ng-model="two.pageTwo.quantityBells"></td>
          <td><input type="text" class="text-input" ng-model="two.pageTwo.circuitStyleBells"></td>
        </tr>
        <tr>
          <td><h4> Horns </h4></td>
          <td><input type="number" class="number-input" ng-model="two.pageTwo.quantityHorns"></td>
          <td><input type="text" class="text-input" ng-model="two.pageTwo.circuitStyleHorns"></td>
        </tr>
        <tr>
          <td><h4> Chimes </h4></td>
          <td><input type="number" class="number-input" ng-model="two.pageTwo.quantityChimes"></td>
          <td><input type="text" class="text-input" ng-model="two.pageTwo.circuitStyleChimes"></td>
        </tr>
        <tr>
          <td><h4> Strobes </h4></td>
          <td><input type="number" class="number-input" ng-model="two.pageTwo.quantityStrobes"></td>
          <td><input type="text" class="text-input" ng-model="two.pageTwo.circuitStyleStrobes"></td>
        </tr>
        <tr>
          <td><h4> Speakers </h4></td>
          <td><input type="number" class="number-input" ng-model="two.pageTwo.quantitySpeakers"></td>
          <td><input type="text" class="text-input" ng-model="two.pageTwo.circuitStyleSpeakers"></td>
        </tr>
        <tr>
          <td><h4> Battery Type: </h4></td>
          <td><input type="number" class="number-input" ng-model="two.pageTwo.quantityBatType"></td>
          <td>
            <select class="select-input" ng-model="two.pageTwo.batType">
              <option value="dry cell"> Dry Cell </option>
              <option value="nickel calmium"> Nickel-Cadmium </option>
              <option value=" sealed lead acid"> Sealed Lead-Acid </option>
              <option value="lead acid"> Lead-Acid </option>
              <option value="other"> Other (Specify) </option>
            </select>
          </td>
        </tr>
        <tr>
          <td><h4> Other (Specify) </h4></td>
          <td><input type="number" class="number-input" ng-model="two.pageTwo.quantityOtherSignalNote"></td>
          <td><textarea rows="2" cols="40" ng-model="two.pageTwo.circuitStyleOtherSignalNote"></textarea></td>
        </tr>
      </table>
      <div class="pages-button-container">
        <span ng-click="two.nextPage(two.pageTwo)"><img src="./assets/images/icons/next-button.ico"></span>
      </div>
  </section>
