
<nav ng-include="'views/templates/nav.html'"></nav>
<aside ng-include="'views/templates/inspection_forms_nav.html'"></aside>

<section class="flex-pages-container">
  <div class="pages-header-container">
    <h1> Signature </h1>
  </div>

  <div class="pages-button-container">
    <button type="button"> Submit Inspection </button>
  </div>
</section>


<!-- <div>
  <h5> This Testing Was Performed In Accordance With Application NFPA Standards </h5>
  <div>
    <label> Name Of Inspector </label>
      <input type="text">
  </div>
  <div>
    <label> Date </label>
      <input type="text">
  </div>
  <div>
    <label> Time </label>
      <input type="text">
  </div>
  <div>
    <label> Signature </label>
      <input type="text">
  </div>
  <div>
    <label> Name Of Owner or Representitive </label>
      <input type="text">
  </div>
  <div>
    <label> Date </label>
      <input type="text">
  </div>
  <div>
    <label> Time </label>
      <input type="text">
  </div>
  <div>
    <label> Signature </label>
      <input type="text">
  </div>
</div> -->
