
<nav ng-include="'views/templates/nav.html'"></nav>

<section class="flex-startInspection-container">
  <section class="flex-startInspection-headingContainer">
    <h1> Start Inspection </h1>
  </section>

  <section class="flex-startInspection-locationContainer">
    <h4> Inspection Site Location: </h4>
      <select ng-model="sic.newInspectionId.inspectionSiteId" style="text-transform: capitalize">
        <option ng-value="inspectionSites.id" ng-repeat="inspectionSites in sic.allInspectionSites.list"> {{inspectionSites.companyname}} - {{inspectionSites.city}}, {{inspectionSites.state}} </option>
      </select>
  </section>

  <section class="pages-button-container">
    <span ng-click="sic.nextPage(sic.newInspectionId)"><img src="./assets/images/icons/next-button.ico"></span>
  </section>

  <section class="flex-startInspection-add_siteContainer">
    <h6><a href="#!add_inspection"> Add Inspection Site Profile </a></h6>
  </section>

</section>
