
  <div class="rows">

    <div class="col-md-12" id="loginMainContainer">
      <div class="col-md-4">
<!-- empty container for spacing -->
      </div>
      <div class="col-md-4" id="loginContainer">
        <div class=" col-md-12">
          <h2 id="loginHeading"> Create Company Profile </h2>
        </div>
        <div class="col-md-12">
          <label> Company Name </label>
            <input ng-model="acc.newCompany.companyName" class="loginInputs" type="text">
        </div>
        <div class="col-md-12">
          <input ng-model="acc.newCompany.streetAddress" class="loginInputs" type="text">
        </div>
        <div class="col-md-12">
          <input ng-model="acc.newCompany.city" class="loginInputs" type="text">
        </div>
        <div class="col-md-12">
          <input ng-model="acc.newCompany.state" class="loginInputs" type="text">
        </div>
        <div class="col-md-12">
          <input ng-model="acc.newCompany.zipCode" class="loginInputs" type="text">
        </div>
        <div class="col-md-12 loginButtonDivs">
          <button ng-click="acc.addNewCompany(acc.newCompany)" type="button" id="loginButton"> Login </button>
        </div>
      </div>
      <div class="col-md-4">
<!-- empty container for spacing -->
      </div>
    </div>

  </div>
