
<nav ng-include="'views/templates/nav.html'"></nav>

  <div class="rows">
    <h2 class="viewHeadings col-md-12"> New Inspection </h2>
<!-- main input container -->
      <div class="col-md-12">

        <div class="">
          <button type="button" ng-click="aic.addNewLog()"> Submit </button>
        </div>

<!-- job site inspection date and time -->
        <div class="col-md-12">
          <div class="col-md-10">
    <!-- div for spacing -->
          </div>
          <div class="col-md-2">
            <label> Inspection Date: </label>
              <input type="date">
          </div>
        </div>

<!-- job site info container -->
        <div>
          <div>
            <label class="col-md-12 inspectionLogMainHeadingDivs"> Inspection Site Location </label>
          </div>
          <div>
            <label> Job Name: </label>
              <input type="text" ng-model="aic.inspectionLocation.jobName">
          </div>
          <div>
            <label> License Number: </label>
              <input type="text" ng-model="aic.inspectionLocation.licenseNumber">
          </div>
          <div>
            <label> Street Address: </label>
              <input type="text" ng-model="aic.inspectionLocation.streetAddress">
          </div>
          <div>
            <label> City: </label>
              <input type="text" ng-model="aic.inspectionLocation.city">
          </div>
          <div>
            <label> State: </label>
              <input type="text" ng-model="aic.inspectionLocation.state">
          </div>
          <div>
            <label> Zip Code: </label>
              <input type="text" ng-model="aic.inspectionLocation.zipCode">
          </div>
          <div>
            <label> Country: </label>
              <input type="text" ng-model="aic.inspectionLocation.country">
          </div>
        </div>

<!-- inspection log info container -->
        <div class="col-md-12">

<!-- alarm types inspection -->
          <div class="col-md-12 inspectionLogMainHeadingDivs">
            <label> Alarm Notification Appliances And Circuit Information </label>
          </div>
          <div class="col-md-4">
            <label> Item Checklist: </label> </br>
              <label> Bells </label> </br>
              <label> Horns </label> </br>
              <label> Chimes </label> </br>
              <label> Strobes </label> </br>
              <label> Speakers </label> </br>
              <label> Other (Specify) </label>
          </div>
          <div class="col-md-4">
            <label> Quantity: </label> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityBells"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityHorns"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityChimes"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityStrobes"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantitySpeakers"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityOtherSignalNote">
          </div>
          <div class="col-md-4">
            <label> Circuit Style: </label> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleBells"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleHorns"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleChimes"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleStrobes"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleSpeakers"> </br>
              <textarea rows="8" cols="40" ng-model="aic.inspectionForm.circuitStyleOtherSignalNote"></textarea>
          </div>


<!-- supervisior signal inspection -->
          <div class="col-md-12 inspectionLogMainHeadingDivs">
            <label> Supervisory Signal-Initiating Devices And Circuit Information </label>
          </div>
          <div class="col-md-4">
            <label> Item Checklist: </label> </br>
              <label> Building Temp </label> </br>
              <label> Site Water Temp </label> </br>
              <label> Site Water Level </label> </br>
              <label> Fire Pump Power </label> </br>
              <label> Fire Pump Running </label> </br>
              <label> Fire Pump Auto Position </label> </br>
              <label> Pump Controller Trouble </label> </br>
              <label> Fire Pump Running </label> </br>
              <label> Generator In Running Position </label> </br>
              <label> Generator Controller Trouble </label> </br>
              <label> Switch Transfer </label> </br>
              <label> Generator Engine Running </label> </br>
              <label> Other (Specify) </label>
          </div>
          <div class="col-md-4">
            <label> Quantity: </label> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityBuildingTemp"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityWaterTemp"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityWaterLevel"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityPumpPower"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityPumpRunning"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityPumpAutoPosition"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityControllerTrouble"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityFirePumpRunning"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityGenRunningPosition"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityGenControllerTrouble"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantitySwitchTransfer"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityEngineRunning"> </br>
              <input type="text" ng-model="aic.inspectionForm.quantityOtherInit">
          </div>
          <div class="col-md-4">
            <label> Circuit Style: </label> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleBuildingTemp"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleWaterTemp"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleWaterLevel"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStylePumpPower"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStylePumpRunning"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStylePumpAutoPosition"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleControllerTrouble"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleFirePumpRunning"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleGenRunningPosition"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleGenControllerTrouble"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleSwitchTransfer"> </br>
              <input type="text" ng-model="aic.inspectionForm.circuitStyleEngineRunning"> </br>
              <textarea rows="8" cols="40" ng-model="aic.inspectionForm.circuitStyleOtherInit"> </textarea>
          </div>
          <h5> Signal Line Circuits </h5>
            <p> Quantity and style (see NFPA 72,See Table 3-6) of signal line circuits connected to system </p>
              <div>
                <label> Qty. </label>
                  <input type="text">
              </div>
              <div>
                <label> styles </label>
                  <input type="text">
              </div>

<!-- move code block up -->
          <div class="col-md-12 inspectionLogMainHeadingDivs">
            <label> Alarm Notification Appliances and Circuit Information </label>
          </div>
          <div class="col-md-4">
            <label> Item Checklist: </label> </br>
              <label> Bells </label> </br>
              <label> Horns </label> </br>
              <label> Chimes </label> </br>
              <label> Strobes </label> </br>
              <label> Speakers </label> </br>
              <label> Other (specify) </label> </br>
          </div>
          <div class="col-md-4">
            <label> Quantity: </label> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text">
          </div>
          <div class="col-md-4">
            <label> Circuit Style: </label> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <input type="text"> </br>
              <textarea rows="8" cols="40"> </textarea>
          </div>

<!-- battery type -->
          <div>
            <label> Battery Type: </label> </br>
            <select ng-model="aic.inspectionForm.batType">
              <option value="dry cell"> Dry Cell </option>
              <option value="nickel calmium"> Nickel-Cadmium </option>
              <option value=" sealed lead acid"> Sealed Lead-Acid </option>
              <option value="lead acid"> Lead-Acid </option>
              <option value="other"> Other (Specify) </option>
            </select>
          </div>

<!-- next page -->
          <section>
            <h1> Prior To Any Testing </h1>
              <div>
                <h3> Notifications Are Made </h3>
                  <h5> Monitoring Entity </h5>
                  <h5> Building Occupants </h5>
                  <h5> Building Managment </h5>
                  <h5> Other (specify)</h5>
                  <h5> AHJ (notified) of Any Impairments </h5>
              </div>
              <div>
                <label> Yes </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> No </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Who </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>
              <div>
                <label> Time </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>
          </section>

          <section>
            <h1> Systems tests and Inspections </h1>
              <div>
                <h3> Type </h3>
                  <h5> Control Unit </h5>
                  <h5> Interface Eq. </h5>
                  <h5> Lamps / LED </h5>
                  <h5> Fuses </h5>
                  <h5> Primary Power Supply </h5>
                  <h5> Trouble Signals </h5>
                  <h5> Disconnect Switches </h5>
                  <h5> Ground Fault Monitoring </h5>
              </div>
              <div>
                <label> Yes </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> No </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Comments </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>

              <h3> Secoundary Power </h3>
              <div>
                <label> Type </label>
                  <h5> Battary Condition </h5>
                  <h5> Load Voltage </h5>
                  <h5> Discharge Test </h5>
                  <h5> Charger Test </h5>
                  <h5> Specify Gravity </h5>
              </div>
              <div>
                <label> Visible </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Functional </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Comments </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>

              <div>
                <label> Notification Appliances </label>
                  <h5> Audible </h5>
                  <h5> Visual </h5>
                  <h5> Speakers </h5>
                  <h5> Voice Clarity </h5>
              </div>
              <div>
                <label> Visible </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Functional </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Comments </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>
          </section>

          <section>

            <div>
              <div>
                <label> Emergeny Communication Equipment</label>
                  <h5> Phone Set </h5>
                  <h5> Phone Jacks </h5>
                  <h5> Off-Hook Indicator </h5>
                  <h5> Amplifier(s) </h5>
                  <h5> Tone Generator(s) </h5>
                  <h5> Call-ins Signal </h5>
                  <h5> System Performance </h5>
              </div>
              <div>
                <label> Visible </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Functional </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Comments </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>
            </div>

            <div>
              <div>
                <h1> Interferance Equipment </h1>
                  <div>
                    <label> (Specify) </label>
                      <input type="text">
                  </div>
                  <div>
                    <label> (Specify) </label>
                      <input type="text">
                  </div>
                  <div>
                    <label> (Specify) </label>
                      <input type="text">
                  </div>
              </div>
              <div>
                <label> Visual </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Device Operations </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Simulated Operations </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
            </div>
            <div>
              <div>
                <h5> Special Procedures: </h5>
                  <textarea name="name" rows="8" cols="40"></textarea>
              </div>
              <div>
                <h5> Comments: </h5>
                  <textarea name="name" rows="8" cols="40"></textarea>
              </div>
            </div>

            <div>
              <div>
                <label> Supervising Station Monitoring </label>
                  <h5> Alarm Signal </h5>
                  <h5> Alarm Restoration </h5>
                  <h5> Trouble Signal </h5>
                  <h5> Supervisiory Signal </h5>
                  <h5> Supervisiory Restoration </h5>
              </div>
              <div>
                <label> Yes </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> No </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Time </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>
              <div>
                <label> Comments </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>
            </div>

            <div>
              <div>
                <label> Notification That Testing Is Complete </label>
                  <h5> Building Managment </h5>
                  <h5> Monitoring Agency </h5>
                  <h5> Building Occupants </h5>
                  <h5> Other (specify) </h5>
              </div>
              <div>
                <label> Yes </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> No </label>
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
                  <input type="checkbox">
              </div>
              <div>
                <label> Who </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>
              <div>
                <label> Time </label>
                  <input type="text">
                  <input type="text">
                  <input type="text">
                  <input type="text">
              </div>

              <div>
                <h5> The following did not operate correctly: </h5>
                  <textarea name="name" rows="8" cols="40"></textarea>
              </div>

              <div>
                <h5> System restored to normal operation: </h5>
                <div>
                  <label> Date: </label>
                    <input type="text">
                </div>
                <div>
                  <label> Time: </label>
                    <input type="text">
                </div>
              </div>

              <div>
                <h5> This Testing Was Performed In Accordance With Application NFPA Standards </h5>
                <div>
                  <label> Name Of Inspector </label>
                    <input type="text">
                </div>
                <div>
                  <label> Date </label>
                    <input type="text">
                </div>
                <div>
                  <label> Time </label>
                    <input type="text">
                </div>
                <div>
                  <label> Signature </label>
                    <input type="text">
                </div>
                <div>
                  <label> Name Of Owner or Representitive </label>
                    <input type="text">
                </div>
                <div>
                  <label> Date </label>
                    <input type="text">
                </div>
                <div>
                  <label> Time </label>
                    <input type="text">
                </div>
                <div>
                  <label> Signature </label>
                    <input type="text">
                </div>
              </div>

            </div>
          </section>


<!-- submit button container -->
          <div id="inspectionLogSubmitDiv">
            <button type="button" ng-click="aic.submitInspectionForm(aic.inspectionForm)"> Submit Inspection Form </button>
          </div>
<!-- end of inspection log container -->
        </div>
<!-- end of main Input container -->
      </div>
<!-- end of main container -->
  </div>
