

  <section class="flex-add_company-container">
    <section>
      <h2 class="viewHeadings"> Create Company Profile </h2>
    </section>
    <section>
      <label> Company Name </label>
        <input ng-model="acc.newCompany.companyName" type="text" style="text-transform: capitalize">
    </section>
    <section>
      <label> Street Address </label>
        <input ng-model="acc.newCompany.streetAddress" type="text" style="text-transform: capitalize">
    </section>
    <section>
      <label> City </label>
        <input ng-model="acc.newCompany.city" type="text" style="text-transform: capitalize">
    </section>
    <section>
      <label> State </label>
        <input ng-model="acc.newCompany.state" type="text" style="text-transform: uppercase">
    </section>
    <section>
      <label> Zip Code </label>
        <input ng-model="acc.newCompany.zipCode" type="number">
    </section>
    <section>
      <label> Country </label>
        <input ng-model="acc.newCompany.country" type="text" style="text-transform: capitalize">
    </section>
    <section>
      <button ng-click="acc.addNewCompany(acc.newCompany)" type="button"> Create Profile </button>
    </section>
  </section>
