
<nav ng-include="'views/templates/nav.html'"></nav>

  <section class="rows">
    <h2 class="viewHeadings col-md-12"> New Inspection </h2>
<!-- main input container -->
      <div class="col-md-12">

<!-- job site inspection date and time -->
        <div class="col-md-12">
          <div class="col-md-9">
    <!-- div for spacing -->
          </div>
          <div class="col-md-3 inspectionDateDiv">
            <label> Inspection Date: </label>
              <input type="date" ng-model="aic.inspectionLocation.inspectionDate">
          </div>
        </div>

<!-- job site info container -->
        <div>
          <div>
            <label class="col-md-12 inspectionLogMainHeadingDivs"> Inspection Site Location </label>
          </div>
          <div>
            <label> Job Name: </label>
              <input type="text" ng-model="aic.inspectionLocation.jobName">
          </div>
          <div>
            <label> License Number: </label>
              <input type="text" ng-model="aic.inspectionLocation.licenseNumber">
          </div>
          <div>
            <label> Street Address: </label>
              <input type="text" ng-model="aic.inspectionLocation.streetAddress">
          </div>
          <div>
            <label> City: </label>
              <input type="text" ng-model="aic.inspectionLocation.city">
          </div>
          <div>
            <label> State: </label>
              <input type="text" ng-model="aic.inspectionLocation.state">
          </div>
          <div>
            <label> Zip Code: </label>
              <input type="text" ng-model="aic.inspectionLocation.zipCode">
          </div>
          <div>
            <label> Country: </label>
              <input type="text" ng-model="aic.inspectionLocation.country">
          </div>
        </div>

<!-- submit button container -->
        <div class="inspectionLogSubmitDiv">
          <button type="button" ng-click="aic.submitInspectionLocation(aic.inspectionLocation)"> Submit Inspection Form </button>
        </div>
<!-- end of main Input container -->
      </div>
<!-- end of main container -->
  </section>
