
  <div class="flex-addUser-container">
    <section class="flex-addUser-subContainer">

      <section class="flex-addUser-headingContainer">
        <img src="../assets/images/icons/white-addUser.ico">
      </section>

      <section class="flex-addUser-nameContainer">
        <div>
          <h4> First Name: </h4>
            <input type="text" ng-model="auc.user.firstname" style="text-transform: capitalize">
        </div>
        <div>
          <h4> Last Name: </h4>
            <input type="text" ng-model="auc.user.lastname" style="text-transform: capitalize">
        </div>
      </section>

      <section class="flex-addUser-loginCredContainer">
        <div>
          <h4> Username: </h4>
            <input type="text" ng-model="auc.user.username" class="addUserInputs">
        </div>
        <div>
          <h4> Password: </h4>
            <input type="password" ng-model="auc.password" class="addUserInputs">
        </div>
        <div ng-if="auc.password !== NULL" class="flex-addUser-password-icons">
          <label ng-hide="auc.user.password !== NULL && auc.password !== NULL"> Re-Enter Password: </label>
          <div>
            <div ng-if="auc.password === NULL"></div>
            <div ng-if="auc.user.password === auc.password"><label> Re-Enter Password: <img src="/assets/images/icons/green-checkmark.ico"></label></div>
            <div ng-if="auc.user.password !== auc.password && auc.user.password !== NULL"><label> Re-Enter Password: <img src="/assets/images/icons/red-checkmark.ico"></label></div>
          </div>
            <input type="password" ng-model="auc.user.password">
        </div>
      </section>

      <section class="flex-addUser-companyContainer">
        <div>
          <h4> Company Name: </h4>
            <select ng-model="auc.user.companyId" style="text-transform: capitalize">
              <option ng-value="company.id" ng-repeat="company in auc.allCompanies.list"> {{company.companyname}} - {{company.city}}, {{company.state}} </option>
            </select>
        </div>
      </section>

      <section class="flex-addUser-buttonContainer">
        <button type="button" ng-click="auc.addNewUser(auc.user)"> Register </button>
      </section>

      <section class="flex-addUser-createContainer">
        <div>
          <h6><a href="#!add_company"> Register New Company Profile </a></h6>
        </div>
      </section>
    </section>
  </div>
