
  <div class="rows">

    <h2 class="viewHeadings col-md-12"> Registration </h2>

    <div class="col-md-12">
      <div class="col-md-4">
<!-- empty container for spacing -->
      </div>
      <div class="col-md-4" id="addUserContainer">
        <div>
          <label class="left"> First Name: </label>
            <input type="text" class="addUserInputs">
        </div>
        <div>
          <label> Last Name: </label>
            <input type="text" class="addUserInputs">
        </div>
        <div id="userDividerContainer">
          <div class="col-md-2">
<!-- empty container for spacing -->
          </div>
          <div class="col-md-8" id="userDivider">
<!-- divider line between user and employer info. -->
          </div>
          <div class="col-md-2">
<!-- empty container for spacing -->
          </div>
        </div>
        <div id="addUserSelect">
          <label> Company Name: </label></br>
            <select>
              <option> </option>
              <option> EFS </option>
              <option> Det_Tronics </option>
              <option> BP Alaska </option>
            </select>
        </div>
        <div id="addUserRegisterButtonDiv">
          <button type="button" name="button"> Register </button>
        </div>
      </div>
      <div class="col-md-4">
<!-- empty container for spacing -->
      </div>
    </div>




  </div>
