
  <div class="rows">
    <h2 class="col-md-12 viewHeadings"> login </h2>

    <div class="col-md-12">
      <div class="col-md-4">
<!-- empty container for spacing -->
      </div>
      <div class="col-md-4" id="loginContainer">
        <div class="col-md-12">
          <input class="loginIputs" type="text" placeholder="Username">
        </div>
        <div class="col-md-12">
          <input class="loginIputs" type="text" placeholder="Password">
        </div>
        <div class="col-md-12">
          <button type="button" name="button"> Login </button>
        </div>
      </div>
      <div class="col-md-4">
<!-- empty container for spacing -->
      </div>
    </div>

  </div>
