
<nav ng-include="'views/templates/nav.html'"></nav>

<section class="flex-manage-container">

    <section class="flex-manage-dataContainer">

        <section ng-repeat="site in mic.inspectionSitesByUser_id.list" class="flex-manage-repeatContainer">
          <section>
            <h4> Company Name: </h4>
              <div> {{site.companyname}} </div>
          </section>
          <section>
            <h4> License Number: </h4>
              <div> {{site.licensenumber}} </div>
          </section>
          <section>
            <h4> Contact Name: </h4>
              <div> {{site.contactname}} </div>
          </section>
          <section>
            <h4> Address: </h4>
              <div> Street Address: {{site.streetaddress}} </div>
              <div> City: {{site.city}} </div>
              <div> State: {{site.state}} </div>
              <div> Zip Code: {{site.zipcode}} </div>
              <div> Country: {{site.country}} </div>
          </section>
          <section>
            <h4> Contact Info. </h4>
              <div> Email: {{site.email}} </div>
              <div> Phone: {{site.phone}} </div>
              <div> Fax: {{site.fax}} </div>
          </section>
          <section>
            <h4> Inspection Dates </h4>
              <div> Schedualed Date: {{site.schedualeddate}} </div>
              <div> Inspected Date: {{site.inspecteddate}} </div>
          </section>
        </section>

    </section>

</section>
