
  <aside class="flex-formsNav-container">
    <ul>
      <li><a href="#!page_two"> Page_Two </a></li>
      <!-- delete links below -->
      <li><a href="#!page_three"> Page_Three </a></li>
      <li><a href="#!page_five"> Page_Five </a></li>
      <li><a href="#!page_six"> Page_Six </a></li>
      <li><a href="#!page_seven"> Page_Seven </a></li>

      <li><a href="#!file_upload"><img src="../assets/images/icons/upload.ico" alt=""></a></li>
      <li><a href="#!signature"><img src="../assets/images/icons/signature.ico" alt=""></a></li>
    </ul>
  </aside>
