
<nav class="rows" >
  <div class="col-md-12" id="navBarContainer">
    <div class="col-md-1 navButton">
      <a href="#!dashboard" class="navAttr">
        <img src="/assets/images/icons/white-dashboard.ico" id="dashboard">
      </a>
    </div>
    <div class="col-md-1 navButton" id="middleDiv">
      <a href="#!add_inspection" class="navAttr">
        <div>
           New Inspection
        </div>
      </a>
    </div>
    <div class="col-md-1 navButton">
      <a href="#!manage_inspections" class="navAttr">
        <div>
          Manage Inspections
        </div>
      </a>
    </div>
    <div class="col-md-9 logo">
      <!-- <a href="#!dashboard"> -->
        Phoenix Fire Alarm Inspection Reporting
      <!-- </a> -->
    </div>
  </div>
</nav>
