
<nav class="rows" >
  <div class="col-md-12" id="navBarContainer">
    <div class="col-md-1">
      <a href="#!dashboard" class="navAttr">
        <img src="/assets/images/icons/white-dashboard.ico" id="dashboard">
      </a>
    </div>
    <div class="col-md-1" id="middleDiv">
      <a href="#!add_inspection" class="navAttr">
        <div>
           New Inspection
        </div>
      </a>
    </div>
    <div class="col-md-1">
      <a href="#!manage_inspections" class="navAttr">
        <div>
          Manage Inspections
        </div>
      </a>
    </div>
    <div class="col-md-9 logo">
      Phoenix Fire Alarm Inspection Reporting
    </div>
  </div>
</nav>
