

    <ul class="flex-nav-container" ng-controller="NavController as nav">
      <li class="flex-nav-authContainer">
        <div>
          <img ng-click="nav.logout()" src="./assets/images/icons/white-logout.ico">
          Username: {{nav.userName}}
          <!-- Company ID: {{nav.companies_id}} -->
        </div>
      </li>
      <li class="flex-nav-logoContainer">
        <div>
          <h5> Phoenix Fire Alarm Inspection Reporting </h5>
        </div>
      </li>
      <li class="flex-nav-linksContainer">
        <a href="#!start_inspection" class="border"> Start Inspection </a>
        <a href="#!manage_inspections" class="border"> Manage Inspections </a>
        <a href="#!dashboard"><img src="/assets/images/icons/white-dashboard.ico"></a>
      </li>
    </ul>
