
body {
  margin: 0px;
  padding: 0px;
}


/*////////////////////////
//        NAV-BAR       //
////////////////////////*/

.nav-main {
  /*position: fixed;*/
  top: 0;
  width: 100%;
  z-index: 100;
}

.flex-nav-container {
  display: flex;
  background-color: #737373;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.flex-nav-container .flex-nav-logoContainer {
  flex: 5 1 25px;
  flex-grow: ;
  flex-shrink: ;
  flex-basis: ;
  text-align: center;
}

.flex-nav-logoContainer h5 {
  color: #ffffff;
  font-size: 25px;
}

.flex-nav-container .flex-nav-linksContainer {
  flex: 2 2 25px;
  width: 100%;
  color: #ffffff;
}

.flex-nav-linksContainer a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

.flex-nav-linksContainer .border {
  border-right: 1px solid #ffffff;
}
.flex-nav-linksContainer .border:hover {
  color: #ffffff;
  text-decoration: none;
}

.flex-nav-linksContainer img {
  width: 30px;
}



/*////////////////////////
//  INSPECTION-NAV-BAR  //
////////////////////////*/


.flex-formsNav-container {
  display: flex;
  border-bottom: 1px solid #737373;
  width: 100%;
}

.flex-formsNav-container ul {
  flex: 1 1 25px;
  display: flex;
  flex-direction: row;
}

.flex-formsNav-container li {
  flex: 1 1 25px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.flex-formsNav-container a {
  color: #000000;
}

.flex-formsNav-container a:hover {
  text-decoration: none;
}

.flex-formsNav-container img{
  height: 20px;
  width: 20px;
}





/*////////////////////////
//         LOGIN        //
////////////////////////*/

#loginMainContainer {
  margin: 80px 0px 0px 0px;
}

#loginContainer {
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 15px 8px 15px grey;
  padding: 0px 0px 20px 0px;
}

.loginInputIcons {
  height: 40px;
  width: 40px;
}

.loginInputs {
  width: 90%;
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  margin: 20px 0px 20px 0px;
}

.loginButtonDivs {
  text-align: right;
  padding: 10px 33px 10px 0px;
}

#loginButton {
  width: 100px;
  height: 30px;
  background-color: #2272c4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
}

#loginButton:hover {
  box-shadow: 3px 3px 3px grey;
}

#dividerLine {
  border-bottom: 1px solid #000000;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

#loginRegisterDiv {
  padding: 20px 0px 0px 0px;
}







/*////////////////////////
//        ADD_USER      //
////////////////////////*/

#addUserContainer {
  margin: 40px 0px 40px 0px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 15px 8px 15px grey;
  padding: 0px 0px 20px 0px;
}

.addUserInputs {
  width: 90%;
  height: 35px;
  font-size: 17px;
  outline: none;
  margin: 0px 0px 20px 0px;
}

.checkmarks {
  height: 18px;
  width: 18px;
}

#userDividerContainer {
  padding: 20px 0px 30px 0px;
}

#userDivider {
  border-bottom: 1px solid #000000;
}

#addUserSelectDiv {
  padding: 0px 0px 20px 0px;
}

#addUserSelect {
  width: 250px;
}

#addUserRegisterButtonDiv {
  text-align: right;
  padding: 10px 33px 10px 0px;
}

#addUserRegisterButton {
  width: 100px;
  height: 30px;
  background-color: #2272c4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
}

#addUserRegisterButton:hover {
  box-shadow: 3px 3px 3px grey;
}

#addUserRegisterDiv {
  padding: 20px 0px 0px 0px;
}








/*////////////////////////
//       ADD_COMPANY    //
////////////////////////*/

#addCompanyContainer {
  margin: 40px 0px 60px 0px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 15px 8px 15px grey;
  padding: 0px 0px 20px 0px;
}

.addCompanyInputs {
  width: 90%;
  height: 35px;
  font-size: 17px;
  outline: none;
  margin: 0px 0px 20px 0px;
}

.addCompanyButtonDivs {
  text-align: right;
  padding: 10px 35px 10px 0px;
}

#addCompanyButton {
  width: 100px;
  height: 30px;
  background-color: #2272c4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
}

#addCompanyButton:hover {
  box-shadow: 3px 3px 3px grey;
}







/*////////////////////////
//      DASHBOARD       //
////////////////////////*/

.dashboardContainer {
  margin-top: 10px;
}

.dashboardContainer h5 {
  text-align: center;
  font-size: 18px;
}

.lineGraph {
  padding: 0px 20px 0px 20px;
}




/*////////////////////////
//    ADD_INSPECTION    //
////////////////////////*/

.addInspectionHeading {
  text-align: center;
}

.flex-inspectionSite-container {
  display: flex;
}







/*////////////////////////
//  MANAGE INSPECTIONS  //
////////////////////////*/

.manageInspectionsContainer {
  margin-top: 60px;
}





/*////////////////////////
//         PAGES        //
////////////////////////*/

.flex-pages-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.flex-pages-container table {
  width: 100%;
}

.flex-pages-container .pages-checkbox {

}

.pages-button-container {
  text-align: right;
  margin: 50px 60px 50px 0px;
}






/*////////////////////////
//         FOOTER       //
////////////////////////*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 3px 0px 0px 0px;
  text-align: center;
  background-color: #737373;
  color: #ffffff;
}







@media(max-width: 568px){
/*global*/
  body {
    background-size: auto;
  }

/*main nav bar*/
  .flex-nav-container {
    flex-direction: column;
  }

  .flex-nav-logoContainer h5 {
    font-size: 18px;
  }

/*forms nav bar*/
  .flex-formsNav-container ul {
    flex: 1 1 25px;
    display: flex;
    flex-direction: column;
  }

}
