
body {
  margin: 0px;
  padding: 0px;
}


/*////////////////////////
//        NAV-BAR       //
////////////////////////*/

.nav-main {
  top: 0;
  width: 100%;
  z-index: 100;
}

.flex-nav-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
  background-color: #737373;
}

.flex-nav-authContainer {
  flex: 1 1 25px;
  color: #ffffff;
}

.flex-nav-authContainer img {
  transform: rotate(180deg);
  cursor: pointer;
  height: 30px;
  width: 35px;
}

.flex-nav-container .flex-nav-logoContainer {
  flex: 4 1 25px;
  flex-grow: ;
  flex-shrink: ;
  flex-basis: ;
  text-align: center;
}

.flex-nav-logoContainer h5 {
  color: #ffffff;
  font-size: 25px;
}

.flex-nav-container .flex-nav-linksContainer {
  flex: 2 2 25px;
  width: 100%;
  color: #ffffff;
}

.flex-nav-linksContainer a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
}

.flex-nav-linksContainer .border {
  border-right: 1px solid #ffffff;
}
.flex-nav-linksContainer .border:hover {
  color: #ffffff;
  text-decoration: none;
}

.flex-nav-linksContainer img {
  width: 30px;
}



/*////////////////////////
//  INSPECTION-NAV-BAR  //
////////////////////////*/


.flex-formsNav-container {
  display: flex;
  border-bottom: 1px solid #737373;
  width: 100%;
}

.flex-formsNav-container ul {
  flex: 1 1 25px;
  display: flex;
  flex-direction: row;
}

.flex-formsNav-container li {
  flex: 1 1 25px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.flex-formsNav-container a {
  color: #000000;
}

.flex-formsNav-container a:hover {
  text-decoration: none;
}

.flex-formsNav-container img{
  height: 20px;
  width: 20px;
}


/*////////////////////////
//         LOGIN        //
////////////////////////*/

.flex-login-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('../assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-login-subContainer {
  margin: 30px 0px 120px 0px;
}

.flex-login-errorContainer {
  height: 40px;
  color: #ff0606;
  text-shadow: 2px 2px 2px #ffffff;
}

.flex-login-inputsContainer div {
  margin: 30px 0px 30px 0px;
}

.flex-login-inputsContainer img {
  height: 60px;
  width: 60px;
  margin: 10px;
}

.flex-login-inputsContainer input {
  outline-style: none;
  opacity: 0.6;
  border-radius: 5px;
  height: 40px;
  width: 300px;
  color: #000000;
  font-size: 25px;
}

.flex-login-buttonContainer button {
  background-color: #345da2;
  outline-style: none;
  color: #ffffff;
  border-radius: 5px;
  height: 45px;
  width: 300px;
  margin: 30px 0px 30px 0px;
}





/*////////////////////////
//        ADD_USER      //
////////////////////////*/

.flex-addUser-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('../assets/images/background-user.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flex-addUser-container h2 {
  color: #ffffff;
}

.flex-addUser-container h4 {
  color: #ffffff;
}

.flex-addUser-subContainer {
  margin: 30px 0px 10px 0px;
}

.flex-addUser-headingContainer img {
  height: 140px;
  width: 140px;
  margin-bottom: 20px;
}

.flex-addUser-nameContainer input {
  outline-style: none;
  /*opacity: 0.6;*/
  border-radius: 5px;
  height: 40px;
  width: 300px;
  font-size: 25px;
}

.flex-addUser-loginCredContainer input {
  outline-style: none;
  /*opacity: 0.6;*/
  border-radius: 5px;
  height: 40px;
  width: 300px;
  font-size: 25px;
}

.flex-addUser-password-icons {

}

.flex-addUser-password-icons img {
  height: 30px;
  width: 30px;
}

.flex-addUser-companyContainer select {
  outline-style: none;
  /*opacity: 0.6;*/
  border-radius: 5px;
  height: 30px;
  width: 300px;
  font-size: 18px;
}

.flex-addUser-buttonContainer button {
  background-color: #345da2;
  outline-style: none;
  color: #ffffff;
  border-radius: 5px;
  height: 45px;
  width: 300px;
  margin: 30px 0px 30px 0px;
}



/*////////////////////////
//       ADD_COMPANY    //
////////////////////////*/

#addCompanyContainer {
  margin: 40px 0px 60px 0px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 20px;
  box-shadow: 15px 8px 15px grey;
  padding: 0px 0px 20px 0px;
}

.addCompanyInputs {
  width: 90%;
  height: 35px;
  font-size: 17px;
  outline: none;
  margin: 0px 0px 20px 0px;
}

.addCompanyButtonDivs {
  text-align: right;
  padding: 10px 35px 10px 0px;
}

#addCompanyButton {
  width: 100px;
  height: 30px;
  background-color: #2272c4;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  outline: none;
}

#addCompanyButton:hover {
  box-shadow: 3px 3px 3px grey;
}







/*////////////////////////
//      DASHBOARD       //
////////////////////////*/

.dashboardContainer {
  margin-top: 10px;
}

.dashboardContainer h5 {
  text-align: center;
  font-size: 18px;
}

.lineGraph {
  padding: 0px 20px 0px 20px;
}






/*////////////////////////
//  MANAGE INSPECTIONS  //
////////////////////////*/

.manageInspectionsContainer {
  margin-top: 60px;
}





/*////////////////////////
//         PAGES        //
//    ADD INSPECTION    //
////////////////////////*/

.flex-pages-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pages-header-container {
  flex-direction: row;
  margin: 20px auto;
}

.pages-header-container h1 {
  font-size: 30px;
}

.pages-table-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.pages-table-container h3 {
  text-decoration: underline;
}

.pages-table-container td {
  padding: 0px 20px 0px 20px;
}

.pages-table-container .number-input {
  height: 30px;
  width: 50px;
}

.pages-table-container .text-input, .select-input {
  height: 30px;
  width: 300px;
}

.pages-button-container {
  margin: 100px 100px 75px 0px;
  text-align: right;
  background-color: #ffffff;
}

.pages-button-container img {
  height: 50px;
  cursor: pointer;
}





/*////////////////////////
//         FOOTER       //
////////////////////////*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  padding: 4px 0px 0px 0px;
  text-align: center;
  background-color: #737373;
  /*opacity: 0.7;*/
  color: #ffffff;
}







@media(max-width: 568px){

/*main nav bar*/
  .flex-nav-container {
    flex-direction: column;
    padding-bottom: 10px;
  }

  .flex-nav-logoContainer h5 {
    font-size: 18px;
    padding-right: 20px;
  }

/*forms nav bar*/
  .flex-formsNav-container ul {
    flex: 1 1 25px;
    display: flex;
    flex-direction: column;
  }

  .pages-table-container {
    flex-direction: column;
  }

  .pages-table-container td {
    padding: 0px;
  }

  .pages-table-container .text-input, .select-input {
    height: 30px;
    width: 200px;
  }

  footer {
    height: 20px;
    font-size: 10px;
    padding-top: 2px;
  }
}
