
/*////////////////////////
//        GLOBAL        //
////////////////////////*/

.viewHeadings {
  text-align: center;
  font-family: monospace;
  padding: 20px 0px 20px 0px;
}






/*////////////////////////
//        NAV-BAR       //
////////////////////////*/

#navBarContainer {
  background-color: #737373;
  text-align: center;
  height: 60px;
  padding: 8px 0px 0px 0px;
}

#dashboard {
  height: 40px;
  width: 40px;
}

.navAttr {
  text-decoration: none;
  color: white;
}

.navAttr:hover {
  text-decoration: none;
  color: none;
}

#middleDiv {
  border-right: 1px solid white;
  border-left: 1px solid white;
}

nav .logo {
  text-align: left;
  font-size: 30px;
  color: white;
  padding-left: 50px;
}




/*////////////////////////
//         LOGIN        //
////////////////////////*/

#loginMainContainer {
  margin: 80px 0px 0px 0px;
}

#loginContainer {
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 15px 8px 15px grey;
  padding: 0px 0px 20px 0px;
}

.loginInputIcons {
  height: 40px;
  width: 40px;
}

.loginInputs {
  width: 90%;
  height: 45px;
  font-size: 20px;
  border-radius: 10px;
  outline: none;
  margin: 20px 0px 20px 0px;
}

.loginButtonDivs {
  text-align: right;
  padding: 10px 33px 10px 0px;
}

#loginButton {
  width: 100px;
  height: 30px;
  background-color: #2272c4;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

#loginButton:hover {
  box-shadow: 3px 3px 3px grey;
}

#dividerLine {
  border-bottom: 1px solid black;
  padding: 20px 0px 20px 0px;
  text-align: center;
}

#loginRegisterDiv {
  padding: 20px 0px 0px 0px;
}




/*////////////////////////
//        ADD_USER      //
////////////////////////*/

#addUserContainer {
  margin: 40px 0px 40px 0px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 15px 8px 15px grey;
  padding: 0px 0px 20px 0px;
}

.addUserInputs {
  width: 90%;
  height: 35px;
  font-size: 17px;
  outline: none;
  margin: 0px 0px 20px 0px;
}

.checkmarks {
  height: 18px;
  width: 18px;
}

#userDividerContainer {
  padding: 20px 0px 30px 0px;
}

#userDivider {
  border-bottom: 1px solid black;
}

#addUserSelectDiv {
  padding: 0px 0px 20px 0px;
}

#addUserSelect {
  width: 250px;
}

#addUserRegisterButtonDiv {
  text-align: right;
  padding: 10px 33px 10px 0px;
}

#addUserRegisterButton {
  width: 100px;
  height: 30px;
  background-color: #2272c4;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

#addUserRegisterButton:hover {
  box-shadow: 3px 3px 3px grey;
}

#addUserRegisterDiv {
  padding: 20px 0px 0px 0px;
}

/*////////////////////////
//        ADD_USER      //
////////////////////////*/

#addCompanyContainer {
  margin: 40px 0px 60px 0px;
  text-align: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 15px 8px 15px grey;
  padding: 0px 0px 20px 0px;
}

.addCompanyInputs {
  width: 90%;
  height: 35px;
  font-size: 17px;
  outline: none;
  margin: 0px 0px 20px 0px;
}

.addCompanyButtonDivs {
  text-align: right;
  padding: 10px 35px 10px 0px;
}

#addCompanyButton {
  width: 100px;
  height: 30px;
  background-color: #2272c4;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
}

#addCompanyButton:hover {
  box-shadow: 3px 3px 3px grey;
}

/*////////////////////////
//    ADD_INSPECTION    //
////////////////////////*/

.inspectionLogMainHeadingDivs {
  text-align: center;
  font-size: 20px;
  margin: 90px 0px 30px 0px;
}

#inspectionLogSubmitDiv {
  text-align: right;
  margin: 0px 0px 70px 0px;
}
